<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Hotel Booking System</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login1</display-name>
    <servlet-name>Login1</servlet-name>
    <servlet-class>codes.Login1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login1</servlet-name>
    <url-pattern>/Login1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Signup</display-name>
    <servlet-name>Signup</servlet-name>
    <servlet-class>codes.Signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signup</servlet-name>
    <url-pattern>/Signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdLogin</display-name>
    <servlet-name>AdLogin</servlet-name>
    <servlet-class>codes.AdLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdLogin</servlet-name>
    <url-pattern>/AdLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdSignup</display-name>
    <servlet-name>AdSignup</servlet-name>
    <servlet-class>codes.AdSignup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdSignup</servlet-name>
    <url-pattern>/AdSignup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Uploaddetails</display-name>
    <servlet-name>Uploaddetails</servlet-name>
    <servlet-class>codes.Uploaddetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Uploaddetails</servlet-name>
    <url-pattern>/Uploaddetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Adhotelsearch</display-name>
    <servlet-name>Adhotelsearch</servlet-name>
    <servlet-class>codes.Adhotelsearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adhotelsearch</servlet-name>
    <url-pattern>/Adhotelsearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Adupdaterecord</display-name>
    <servlet-name>Adupdaterecord</servlet-name>
    <servlet-class>codes.Adupdaterecord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adupdaterecord</servlet-name>
    <url-pattern>/Adupdaterecord</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddeleteRecord</display-name>
    <servlet-name>AddeleteRecord</servlet-name>
    <servlet-class>codes.AddeleteRecord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddeleteRecord</servlet-name>
    <url-pattern>/AddeleteRecord</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>statCont</servlet-name>
    <servlet-class>
      org.apache.catalina.servlets.DefaultServlet
    </servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>statCont</servlet-name>
    <url-pattern>*.js</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchHotel</display-name>
    <servlet-name>SearchHotel</servlet-name>
    <servlet-class>codes.SearchHotel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchHotel</servlet-name>
    <url-pattern>/SearchHotel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>countelement</display-name>
    <servlet-name>countelement</servlet-name>
    <servlet-class>codes.countelement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>countelement</servlet-name>
    <url-pattern>/countelement</url-pattern>
  </servlet-mapping>
</web-app>